header
{
    padding: 0 10px;

    border-bottom: 1px dotted black;
}

.nav-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;

    .nav-links-container
    {
        display: flex;

        a
        {
            padding: 10px;
        }
    }
}

main
{
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;

    .page-title
    {
        display: flex;
        flex: 1;

        border-bottom: 1px dotted black;
    }

    .info-wrapper
    {
        font-size: 14px;
        line-height: 10px;

        display: flex;
        align-items: center;

        padding: 7px 10px;

        border-radius: 5px;
        background: #eee;
        .info-icon
        {
            width: 24px;
            height: 24px;
            margin-right: 10px;

            background: url('../assets/icon/info-sm.png') center center no-repeat;
            background-size: contain;

            filter: grayscale(1);
        }
    }
}

footer
{
    border-top: 1px dotted black;
}

.footer-container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    height: 100%;

    .social-links-container
    {
        display: flex;

        a
        {
            padding: 10px;
        }
    }
}
