<header>
  <div class="nav-container">
    <div class="logo">sleepdebt</div>
    <div class="nav-links-container">
      <a href="#">Link</a><a href="#">Link</a><a href="#">Link</a>
    </div>
  </div>
</header>
<h1>SleepDebt-NG</h1>
<footer>
  <div class="footer-container">
    <div class="logo">sleepdebt</div>
    <div class="credit-wrapper">
      Created with ♡ and Angular by Sean Swanson &copy; 2021
    </div>
    <div class="social-links-container">
      <a href="#">Link</a><a href="#">Link</a><a href="#">Link</a>
    </div>
  </div>
</footer>
